.about {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    width: 85%;
    display: flex;
    margin: auto;
}
.hr-about {
    width: 85%;
    margin: auto;
}
.hr-home-about {
    width: 45%;
    height: 2px;
    background-color: #161616;
}
.text-img {
    width: 92.5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 7.5%;
   
}
.title-about {
    width: 45%;
    display: flex;
    align-items: center;
}

.text-about {
    width: 35%;
}

.text-about p {
    line-height: 25px;
}

.img-about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C8FDB;
}

@media(max-width: 1000px) {
    .content {
        flex-direction: column;
    }
    .text-img {
        flex-direction: column;
    }
    .title-about {
        width: 100%;
        margin-bottom: 20px;
        place-content: center;
    }
    .text-about {
        width: 100%;
    }

    .text-about p:nth-child(1) {
        display: none;
    }
    .img-about {
        width: 78%;
        margin-top: 30px;
    }
    .hr-about {
        width: 100%;
    }
    .hr-home-about {
        width: 100%;
    }
}

