.container-contact {
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.cotainer-piva {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-piva {
    margin-right: 10px;
}

.number-piva {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.number-piva img {
    margin-right: 15px;
    width: 35px;
}


.contact-piva {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 122px;
}
.contact-piva hr {
    width: 420px;
    margin: 0;
    margin: 10px 0;
}

.contact-piva h2 {
    font-size: 45px;
    text-align: center;
}

.contact-piva h3 {
    font-size: 12px;
    text-align: center;
}

legend{
    text-align: center;
    margin-top: 10px;
}