* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.cabecalho {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}
.logo img {
    position: absolute;
    left: 40px;
    top: 20px;
}

.navigation .list-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 3px;
}

.navigation .list-nav li{
    margin:  50px;
    list-style: none;
    margin-top: 60px;
}

.navigation .list-nav img{
    margin-top: -12px;
}

.hr-header {
    width: 90%;
    height: 1px;
    margin-top: -10px;
    margin-left: 5%;  
    margin-right: 5%;; 
}

.navigation .list-nav a{
text-decoration: none;
color: #000;

}
article {
    margin-top: 100px;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "article-sub1 article-sub2";
  }
  
  .article-sub1 .search {
    height: 300px;
    background-color: rgb(33, 159, 213);
    grid-area: article-sub1;
    text-align: center;
  }
  
  .article-sub2 .map {
    height: 300px;
    background-color: rgb(167, 176, 186);
    grid-area: article-sub2;
  }
  