* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
.cabecalho {
  display: flex;
  width: 100%;
}
.logo img {
    position: absolute;
  margin-left:50px;
}
.navigation {
  width: 100%;
  display: flex;
}
.list-nav {
  display: flex;
  width: 90%;
  justify-content: right;
  place-items: center;
  list-style: none;
  margin: 38px 200px 0px;
}

.list-nav li {
    margin-left: 20px;
}
.list-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.hr-header {
  width: 90%;
  text-align: center;
  margin-left: 45px;
  margin-top: 7px;
}


.home-articles {
    width: 30%;
    margin: 125px 0 0 125px;
    height: 301px;
    background: #3C8FDB;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
    border-radius: 25px;
}


.agendamento {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 56px;
    place-items: center;
}

.agendar {
text-align: center;
color: #fff;
margin-top: -24px;
}

.image {
    text-align: center;
}

.home-articles input {
  width: 181px;
  border-radius: 25px;
  height: 30px;
  background: #3C8FDB;
  outline: none;
  border: 2px solid white;
  height: 40px;
  font-weight: 700;
}

.home-articles input::placeholder {
  text-align: center;
  color: white;
  font-weight: lighter;}
  

  .navigation ul li img {
    
position: absolute;
    
top: 20px;
    
right: 85px;
  }