@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    opacity: 100%;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form h1 {
    color: #000000;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}

.form input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: #000000;
    font-size: 18px;
}

.form button {
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
    border: none;
    outline: none;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;

}

.form button:hover {
    transform: scale(0.99);
    background: #34a0ed;
}

.image-background {
    background: url(../images/login/White\ and\ Red\ Modern\ Automotive\ Logo.svg) no-repeat center;;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 5%;
    
}

h5 {
    position: absolute;
    margin-top: -100px;
    color: rgb(0, 153, 255);
    
}

legend {
    margin-top: -30px;
    margin-left: 8px;
    color: rgb(0, 153, 255);
    cursor: pointer;
}

a {
    color: rgb(0, 153, 255);
    text-decoration: none;
    cursor: pointer;
}

