.container-operaction {
    width: 100%;
    display: flex;
    justify-content: center
}

.loc {
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin-top: -63px;
}

.loc img:nth-child(2) {
    margin-top: 200px;
}

.title-operactions {
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

